<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>じゃんけん</title>
</head>

<body>
  <p>Hi [[${loginUser}]]</p>
  <h3>エントリー</h3>
  <div>
    <ul>
      <li th:each="user:${users}">
        <a th:href="@{/match(id=${user.id})}">
          [[${user.name}]]
        </a>
      </li>
    </ul>
  </div>

  <h3>試合結果</h3>
  <div th:each="match:${matches}">
    <tr>
      <td>
        id:[[${match.id}]]
      </td>
      <td>
        user1:[[${match.user1}]]
      </td>
      <td>
        user2:[[${match.user2}]]
      </td>
      <td>
        user1の手:[[${match.user1Hand}]]
      </td>
      <td>
        user2の手:[[${match.user2Hand}]]
      </td>
      <td>
        結果:[[${match.result}]]
      </td>
    </tr>
  </div>
  <br />
  <a href="/logout">ログアウト</a>
</body>

</html>
