<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Match</title>
</head>

<body>
  <h1 align="center">Match</h1>
  <h2 align="center">
    [[${loginUser}]] VS [[${user.name}]]
  </h2>

  <div th:if="${user.id}">
    <p align="center">&emsp;手を選んでください</p>
    <br />
    <div align="center">
      <!-- <button onclick="location.href='/fight?hand=gu(id=${user.id})'">
        グー
      </button>
      &emsp;
      <button onclick="location.href='/fight?hand=choki(id=${user.id})'">
        チョキ
      </button>
      &emsp;
      <button onclick="location.href='/fight?hand=pa(id=${user.id})'">
        パー
      </button>-->
      <a th:href="@{/fight?hand=gu(id=${user.id})}">
        グー
      </a>
      &emsp;
      <a th:href="@{/fight?hand=pa(id=${user.id})}">
        パー
      </a>
      &emsp;
      <a th:href="@{/fight?hand=choki(id=${user.id})}">
        チョキ
      </a>
    </div>
  </div>

  <div th:if="${result_flag}">
    <p align="center">
      あなたの手は [[${match.user1Hand}]]
    </p>
    <p align="center">
      CPUの手は [[${match.user2Hand}]]
    </p>
    <p align="center">
      結果：[[${match.result}]]
    </p>
  </div>
  <br />
  <a href="/janken">戻る</a>

</body>

</html>
